<table class="table" *ngIf="member$">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">surname</th>
      <th scope="col">user</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of member$">
      <th>{{item.value.name}}</th>
      <td>{{item.value.surname}}</td>
      <td>{{item.value.email}}</td>
      <td>
        <button type="button" class="btn-primary" (click)="onEditMember(item);">Edit</button>
      </td>
      <td>
        <button type="button" class="btn-danger" (click)="onRemoveMember(item);">Delete</button>
      </td>
    </tr>
  </tbody>
</table>